includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    #- ./vendor/spatie/invade/phpstan-extension.neon
    #- phpstan-baseline.neon # Baseline to ignore error temporary

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 8

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
